/* Main Style Sheet for jQuery UI date picker */
#ui-datepicker_div, .ui-datepicker_inline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background: #ddd;
	width: 185px;
}
#ui-datepicker_div {
	display: none;
	border: 1px solid #777;
	z-index: 10000; /*must have*/
}
.ui-datepicker_inline {
	float: left;
	display: block;
	border: 0;
}
.ui-datepicker_dialog {
	padding: 5px !important;
	border: 4px ridge #ddd !important;
}
button.ui-datepicker_trigger {
	width: 25px;
}
img.ui-datepicker_trigger {
	margin: 2px;
	vertical-align: middle;
}
.ui-datepicker_prompt {
	float: left;
	padding: 2px;
	background: #ddd;
	color: #000;
}
* html .ui-datepicker_prompt {
	width: 185px;
}
.ui-datepicker_control, .ui-datepicker_links, .ui-datepicker_header, .ui-datepicker {
	clear: both;
	float: left;
	width: 100%;
	color: #fff;
}
.ui-datepicker_control {
	background: #400;
	padding: 2px 0px;
}
.ui-datepicker_links {
	background: #000;
	padding: 2px 0px;
}
.ui-datepicker_control, .ui-datepicker_links {
	font-weight: bold;
	font-size: 80%;
	letter-spacing: 1px;
}
.ui-datepicker_links label { /* disabled links */
	padding: 2px 5px;
	color: #888;
}
.ui-datepicker_clear, .ui-datepicker_prev {
	float: left;
	width: 34%;
}
.ui-datepicker_current {
	float: left;
	width: 30%;
	text-align: center;
}
.ui-datepicker_close, .ui-datepicker_next {
	float: right;
	width: 34%;
	text-align: right;
}
.ui-datepicker_header {
	padding: 1px 0 3px;
	background: #333;
	text-align: center;
	font-weight: bold;
	height: 1.3em;
}
.ui-datepicker_header select {
	background: #333;
	color: #fff;
	border: 0px;
	font-weight: bold;
}
.ui-datepicker {
	background: #ccc;
	text-align: center;
	font-size: 100%;
}
.ui-datepicker a {
	display: block;
	width: 100%;
}
.ui-datepicker_titleRow {
	background: #777;
}
.ui-datepicker_daysRow {
	background: #eee;
	color: #666;
}
.ui-datepicker_weekCol {
	background: #777;
	color: #fff;
}
.ui-datepicker_daysCell {
	color: #000;
	border: 1px solid #ddd;
}
.ui-datepicker_daysCell a{
	display: block;
}
.ui-datepicker_weekEndCell {
	background: #ddd;
}
.ui-datepicker_daysCellOver {
	background: #fff;
	border: 1px solid #777;
}
.ui-datepicker_unselectable {
	color: #888;
}
.ui-datepicker_today {
	background: #fcc !important;
}
.ui-datepicker_currentDay {
	background: #999 !important;
}
.ui-datepicker_status {
	background: #ddd;
	width: 100%;
	font-size: 80%;
	text-align: center;
}

/* ________ Datepicker Links _______

** Reset link properties and then override them with !important */
#ui-datepicker_div a, .ui-datepicker_inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	color: #000;
}
.ui-datepicker_inline .ui-datepicker_links a {
	padding: 0 5px !important;
}
.ui-datepicker_control a, .ui-datepicker_links a {
	padding: 2px 5px !important;
	color: #eee !important;
}
.ui-datepicker_titleRow a {
	color: #eee !important;
}
.ui-datepicker_control a:hover {
	background: #fdd !important;
	color: #333 !important;
}
.ui-datepicker_links a:hover, .ui-datepicker_titleRow a:hover {
	background: #ddd !important;
	color: #333 !important;
}

/* ___________ MULTIPLE MONTHS _________*/

.ui-datepicker_multi .ui-datepicker {
	border: 1px solid #777;
}
.ui-datepicker_oneMonth {
	float: left;
	width: 185px;
}
.ui-datepicker_newRow {
	clear: left;
}

/* ___________ IE6 IFRAME FIX ________ */

.ui-datepicker_cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}